
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.font-aclonica {
  font-family: 'Aclonica', sans-serif;
}

/* 2. Registrar a versão Medium (opcional para botões) */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* 3. Registrar a versão Bold (para títulos) */
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --font-sans: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}